.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 30px auto;
  text-align: center;
  position: relative;
  width: 100%;
}

.top {
  background-color: #406dff;
  color: white;
  font-size: 12px;
  overflow: hidden;
  height: 150px;
  margin-bottom: 50px;
  position: relative;

  svg {
    position: absolute;
    left: 4%;
    top: 12%;
  }
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

p {
  color: grey;
  padding: 0px 15px;
  font-size: 14px;
}

.info {
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 50%;
  z-index: 20px;
  width: 100px;
  top: 22%;
  left: 25%;
  position: absolute;
}
