.grid {
  position: relative;
  svg {
    color: black;
  }

  & .sortIcon {
    position: absolute;
    right: 30px;
  }
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
