.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 30px auto;
  text-align: center;
  // font-family: arial;
  position: relative;
  width: 100%;
}

.top {
  background-color: #406dff;
  color: white;
  font-size: 12px;
  overflow: hidden;
  height: 150px;
  margin-bottom: 120px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

p {
  color: black;
  // margin-top: 60px;
  // padding: 15px;
  margin-bottom: 20px;
}

.title {
  color: grey;
  font-size: 18px;
  transform: translateY(15%);
}

.info {
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 50%;
  z-index: 20px;
  width: 50%;
  top: 14%;
  left: 25%;
  position: absolute;
}
