.App {
  text-align: center;
}

h1 {
  color: black;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.no-users {
  font-size: 35px;
  margin-top: 20px;
  position: absolute;
  top: 220px;
}
